<div class="header">

  <!-- LEFT: LOGO -->
  <div class="logo-container">
    <img src="assets/Comviva.png" class="logo-img" />
  </div>

  <!-- CENTER CONTENT -->
  <div class="header-center">


  <!-- NAVIGATION -->
  <div class="nav-center">

    <a routerLink="processing"
       routerLinkActive="active"
       class="nav-item">
       Processing
    </a>

    <a routerLink="excel"
       routerLinkActive="active"
       class="nav-item">
       Excel
    </a>

    <a routerLink="graph"
       routerLinkActive="active"
       class="nav-item">
       Graph
    </a>

  </div>

   <!-- RIGHT (empty for balance) -->
  <div class="right-space"></div>

</div>