<div class="content-wrapper">

  <h2 class="page-title">Log Processing Dashboard</h2>

  <div class="card center-card">
    <div class="page-container">

  <!-- ✅ SUCCESS POPUP -->
  <div *ngIf="showSuccess" class="success-popup">
    ✅ {{ successMessage }}
  </div>

    <!-- USER INPUT -->
    <div class="user-row">


      <input
        type="text"
        [(ngModel)]="currentUser"
        placeholder="Enter username"
        class="user-input"
      />

      <button
        class="enter-btn"
        (click)="confirmUser()">
        Enter
      </button>

    </div>

    <!-- PROCESS BUTTON -->
    <button
      class="primary-btn large-btn"
      [disabled]="!userConfirmed || processing || completed"
      [class.disabled-btn]="!userConfirmed || processing || completed"
      (click)="startProcessing()">
      Process Logs
    </button>

    <div class="status">

      <!-- ✅ FIXED ERROR DISPLAY -->
      <p *ngIf="showError" class="error-text">
        {{ errorMessage }}
      </p>

      <!-- 🔄 PROCESSING STATE -->
      <div *ngIf="processing">

        <div class="progress-container">
          <div class="progress-bar" [style.width]="progress + '%'">
            {{ progress }}%
          </div>
        </div>

        <p *ngIf="startTime">

          ⏱ Start: {{ startTime }}
        </p>

        <!--<p class="speed-text">
          Processing speed: {{ speed }} lines/sec
        </p>-->

      </div>

      <!-- 🔥 SHOW DATA ACCESS EVEN DURING PROCESSING -->
      <div *ngIf="hasData">

      <p class="success-text">
          📊 Data available
      </p>

      </div>

      <!-- ✅ COMPLETED STATE -->
      <div *ngIf="completed">

        <p class="success-text">
          🎉 Processing completed successfully!
        </p>

        <div class="progress-container">
          <div class="progress-bar" [style.width]="progress + '%'">
            {{ progress }}%
          </div>
        </div>

        <p *ngIf="startTime">

          ⏱ Start: {{ startTime }}
        </p>

        <p *ngIf="endTime">
          ✅ End: {{ endTime }}
        </p>

      </div>
      <button
       class="secondary-btn"
       *ngIf="completed"
       (click)="reprocessLogs()">
        Reprocess Logs
      </button>
      

    </div>

  </div>

</div>
</div>
