<div class="sidebar">

  <!-- LOGO -->
  <div class="logo">
    <span class="brand">Log Analytics</span>
  </div>

  <!-- MENU -->
  <div class="menu">

    <a routerLink="/processing" routerLinkActive="active" class="menu-item">
      <span>📊</span>
      <span>Processing</span>
    </a>

    <a routerLink="/excel" routerLinkActive="active" class="menu-item">
      <span>📄</span>
      <span>Excel Dashboard</span>
    </a>

    <a routerLink="/graph" routerLinkActive="active" class="menu-item">
      <span>📈</span>
      <span>Graph Dashboard</span>
    </a>

  </div>

</div>